* {
	font-family: Verdana, sans-serif;
	color: #373737;
}

p {
	max-width: 650px;
	line-height: 1.4;
}

a:link {
	color: darkblue;
}

a:visited {
	color: indigo;
}

h1,h2,h3 {
	font-family: Georgia, serif;
}

hr {
	margin-left:0;
	max-width: 650px;
}

nav {
	font-weight: bold;
	letter-spacing: 1px;
}